<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClicker_Mizer1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoClicker_Mizer1.Properties.Settings>
            <setting name="D_Hangi_Tus" serializeAs="String">
                <value>Sol Tık</value>
            </setting>
            <setting name="D_MS" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="D_Baslatma" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="D_Kapatma" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="D_Etkin_Devre" serializeAs="String">
                <value>End</value>
            </setting>
            <setting name="D_Arka_Plan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Copyright_Mizer_2020" serializeAs="String">
                <value>Copyright_Mizer_2020</value>
            </setting>
        </AutoClicker_Mizer1.Properties.Settings>
    </userSettings>
</configuration>